body {
    background: DarkSlateGray url("images/a_moon_in_darkness.png") repeat-y;
    color: white;
    font-family: sans-serif;
    /*max-height: 1080px;*/
    /*width: 1920px;*/
    /*overflow-y: scroll;*/
}

a {
    color: AntiqueWhite;
}

a:hover {
    font-weight: bolder;
}

.container {
    /*width: 1100px;*/
    /*margin: 0 auto;*/
    padding-left: 260px;
    padding-right: 11%;
    max-height: 90vh;
    overflow-y: auto;
}

nav {
    width: 222px;
    position: fixed;
    top: 15px;
    left: 15px;
}

nav a {
    width: 200px;
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border: rgba(255, 255, 255, 0.75) solid 1px;
    margin-bottom: 0.5em;
}

nav a:hover {
    border: white solid 2px;
}

form {
    display: inline-block;
    padding: 2em;
    /*margin: 2em auto;*/
}

h4 {
    margin-top: 2em;
}

div.form {
    text-align: center;
}

section {
    margin-bottom: 3em;
    clear: both;
}

details.log > p {
    max-height: 420px;
    overflow-y: auto;
}

div.damage {
    display: inline-block;
    vertical-align: top;
    padding-right: 9em;
    /*float: left;*/
    /*margin-bottom: 1em;*/
}

li {
    margin: 0.2em 0;
}

div.warp {
    clear: both;
}

p.bounty {
    clear: both;
    font-weight: bold;
    margin-top: 3em;
}

.viz img {
    display: block;
    width: 90%;
    margin: 0.5em auto;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: small;
    color: lightgray;
    /*background: #1C3235;*/
    padding: 0 5px;
}

@media (max-width: 1600px) {

    .container {
        padding-right: 5%;
    }

}

@media (max-width: 1200px) {

    .container {
        padding: 0;
    }

    nav {
        width: 90%;
        position: sticky;
        top: 0;
        text-align: center;
    }

}

@media (max-device-width: 480px) {

    form {
        width: 100%;
    }

    div.damage {
        padding-right: 0;
        display: block;
    }

}

@media (max-height: 480px) {
        footer {
        display: none;
    }
}