{% extends "main/base.html" %}

{% block content %}
    <h1>Hello, world!</h1>
    <p>This site is hopefully going to offer some interesting services to
    dwellers of exceedingly fascinating realm of the
        <a href="https://universe.eveonline.com">New Eden</a>.
    </p>
    <p>
        In development: <a href="{% url 'analyzer:index' %}">Game Log Analyzer</a>
    </p>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en" dir="ltr">-->
<!--  <head>-->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="{% static 'main/style.css' %}">-->
<!--    <meta charset="utf-8">-->
<!--    <title>Evesight</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="container">-->

<!--    </div>-->

<!--  </body>-->
<!--</html>-->