{% extends "main/base.html" %}

{% block title %}
     - EVE Online Game Log Analyzer
{% endblock %}

{% block content %}
    <h1>In-development: Game Log* Analyzer</h1>
    <p class="note">* under Windows, typically found in user's Documents folder /EVE/logs/Gamelogs subfolder</p>
    <div class="form">
        <form action="{% url 'analyzer:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Analyze">
        </form>
    </div>
    {% if not_gamelog %}
        <p>
            Submitted file doesn't seem to be a valid unmodified EVE Online Game Log.
            <br>Please try again with a valid game log or check your intentions.
        </p>
    {% endif %}
    <p>
        For now, designed to output statistics for meaningful combat-related interactions
        occurred in course of encounters with other entities while roaming the vast expanses of
        <a href="https://universe.eveonline.com">New Eden</a>.
    </p>
    <p>
        REST ASSURED: No personal, pilot-specific, or operation-related data is collected
        or even seen by the service provider. Logs files submitted for analysis are parsed
        in-memory and never saved.
    </p>
    <p>
        Please be encouraged to contact KS Endeavours corporation via EVE-mail with any requests,
        comments, complaints or suggestions. Your attention is highly appreciated! The endeavour
        to offer better service is constantly underway.
    </p>
    <p>
        <a href="{% url 'main:index' %}">main page</a>
    </p>

{% endblock %}
