<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <meta charset="utf-8">
    <title>Evesight - Game Log Analyzer</title>
  </head>
  <body>
    <div class="container">
        <h1>Under construction: Game Log Analyzer</h1>
        <p>While the service is being prepared for launch, feel free to explore the
            <a href="https://universe.eveonline.com">New Eden</a>.
        </p>
        <form> {{ form }} </form>
    </div>

  </body>
</html>